@media (max-width: 767px) {
    /* estilos para móviles */

    p{
        text-align: justify !important;
        margin:auto;
    }

    /* GRID DEL BODY Y CSS DEL BODY*/
    body{
        font-size: 1.15rem !important;
        height: 100%;
        width: 100%;
        text-align: center;
        color: whitesmoke;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 700px 100px 1fr auto auto ;
        grid-template-areas: 
        "header"
        "nav"
        "main"
        "aside"
        "footer";
    }

    /* HEADER */
    .header{
        background-image: url("../src/img/paul-volkmer-fX-qWsXl5x8-unsplash.jpg");
        background-repeat: no-repeat;
        background-position: center; 
        background-size: cover;

        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "sec1-header"
        "sec2-header";
    }
    .header h1{
        font-size: 40px;
    }
    .header h2{
        font-size: 30px;
        width: 100%;
    }
    .header p{
        font-size: 26px;
    }
    .header img{
        object-fit: contain;
        width: 100% !important;
        height: 20%;
    }

    /* NAVEGADOR */
    .article{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto;
        grid-template-areas: 
        "titulo-section"
        "img-section"
        "text-section";
    }

    /* INICIO */
    .main .titulo-section{
        grid-area: titulo-section;
        text-align: center;
        padding-bottom: 40px;
        font-size: 30px;
    }

    .main .section1{
        padding-top: 10px !important;
    }

    .img-section-main img{
        width: 100%;
        margin: auto auto;
        display:block;
    }

    /* ASIDE */
    .home .aside{
        background-color: #1D1D1D;
        padding: 7px;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        grid-template-areas: 
        "article1"
        "article2"
        "article3";
    }

    .contacto .aside{
        background-color: #1D1D1D;
        padding: 7px;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        grid-template-areas: 
        "article1"
        "article2"
        "article3";
    }

    .aside{
        background: #1d1d1d;
    }

    /* AREA DE ACTUACIÓN */
    .area .article{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto;
        grid-template-areas: 
        "titulo-section"
        "img-section"
        "text-section" !important;
    }

    .area .article .img-section{
        padding-bottom: 40px;
        grid-area: img-section;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 10px;
        word-wrap: break-word;
    }

    .area .main img{
        width: 100%;
    }

    .area .main p{
        width: 100%;
    }

    /* FOOTER */
    .footer{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 20% 60% 20%;
        grid-template-areas: 
        "f-1"
        "f-2"
        "f-3"
        !important;
        padding: 10px;
        background-color: black;
    }

    .f-1 a{
       align-items: start !important;
    }

    .f-2{
        align-items: center !important;
        justify-content: center !important;
    }

    .f-3{
        align-items: end !important;

    }
    .footer .f-3{
        grid-area: f-3;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 80px 10px 80px 10px;
    }

    .div-input3{
        display: block !important;
        width: 100%;
    }
}